<div class="container">
    <main class="form-signin m-auto">
        <h1>FOLIO</h1>
        <form #loginform = "ngForm" (ngSubmit)="onLogin(loginform)">
          
          <h3 class="h3 mb-3">Connect to your account</h3>
      
          <div class="form-floating">
            <input type="email" [(ngModel)]='email' [ngModelOptions]="{standalone: true}" class="form-control" id="floatingInput" placeholder="name@example.com" required>
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" [(ngModel)]='password' [ngModelOptions]="{standalone: true}" class="form-control" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
          </div>
      
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me" required> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
          <hr/>
          <p>Are you new?</p>
          <button class="w-100 btn btn-lg btn-outline-primary" routerLink="/signUp">Create Account</button>
          
        </form>
      </main>
      
    </div>