<div class="d-flex text-left " [style.background-color]="portfolio.colors[1]">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
          <div>
            <h3 class="float-md-start mb-0">{{portfolio.nam}}</h3>
            
          </div>
        </header>
      
        <main class="px-3">
            <div class="container my-5">
                <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                        <img class="rounded-lg-3" [src]=" image2 " alt="" width="720">
                    </div>
                  <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                    <h1 class="display-4 fw-bold lh-1">About Me</h1>
                    <p class="lead">{{description}}.</p>
                    
                  </div>
                  
                </div>
              </div>
          <div class="right">
            <ul class="uk-iconnav uk-iconnav-vertical">
                <li><a  (click)="home()" uk-icon="icon: nut" ></a></li>
                <li><a  uk-icon="icon: nut" id ="active"></a></li>
                <li><a (click)="mySkills()" uk-icon="icon: nut"></a></li>
                <li><a (click)="myServices()"><span uk-icon="icon: nut"></span></a></li>
            </ul>
          </div>
        </main>
      
        
      </div>
    
</div>
