.progressSkill{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height:15px;
}
.persent{
    background-color: black;
    height:100%;
    border-radius: 10px;
    font-size: 10px;
    color: white;
}