<div class="body">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <h1 style="text-align: center; font-weight: bold;
        font-style: italic;
        font-size:x-large;
        color: #181823;">FOLIO</h1>
        <hr/>
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start partie1">
            <h1 class="display-4 fw-bold lh-1 mb-3">Helpp others Contact You!</h1>
            <!---
             <a href="#" class="clickableImage">
                    <img src="../../../assets/images/step1vecteur.png" alt="step1 image">
             </a>
            -->
            <div class="services">
                <div class="addPartie">
                <a class="uk-button uk-button-default addServiceBtn" href="#modal-sections" uk-toggle><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg></a>

                <div id="modal-sections" uk-modal>
                    <div class="uk-modal-dialog">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">Add Contact</h2>
                        </div>
                        <div class="uk-modal-body">
                          <form class="p-4 p-md-5 border rounded-3" #fAddContact = "ngForm" (ngSubmit)="onAddContact(fAddContact)">
                            <div class="form-floating mb-3 inputDiv">
                              <select type="text" class="form-control" id="floatingInput" placeholder="Service name" required [(ngModel)]='contactName' [ngModelOptions]="{standalone: true}">
                                <option value=""></option>
                                <option *ngFor="let c of data">{{c}}</option>
                                
                              </select>
                              <label for="floatingInput">Contact</label>
                            </div>
                            <div class="form-floating mb-3 inputDiv">
                              <input type = "text" class="form-control" id="floatingarea" placeholder="description" required [(ngModel)]='url' [ngModelOptions]="{standalone: true}">
                              <label for="floatingarea">Url/Phone</label>
                            </div>
                            
                            <button class="btn btn-lg btn-primary" type="submit">Add</button>
                            
                          </form>
                        </div>
                        
                    </div>
                </div>
                </div>
                <div class="afficher" uk-overflow-auto>
                  <app-contact-component *ngFor="let e of contacts"  [contact]= 'e' (deleting)="ondeletetheContact($event)"></app-contact-component>
                  
                </div>
            </div>
            
             <div class="btns">
                <button class="btn btn-primary btn-lg"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                  </svg> Back</button>
                <a href="#">skip this step</a>
                <button class="btn btn-primary btn-lg" type="submit" (click)="onContinue()">Continue <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg></button>

                </div>
             
          </div>
          
          <div class="col-md-10 mx-auto col-lg-5 partie2">
            <div class="p-4 p-md-5 border rounded-3">
            <img src="../../../assets/images/step1.jpg" alt="step 1 image">
            <div>
                <h2>O7</h2>
                <p>Build their network of industry experts, entrepreneurs, and other investors.</p>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>


