
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none foliologo">
            FOLIO
          </a>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a routerLink="/features" class="nav-link px-2 link-dark">Features</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Help</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            <button type="button" class="btn btn-primary" routerLink="/login">Login</button>
            <button type="button" class="btn btn-outline-primary me-2">About</button>
          </div>
        </header>
      </div>
    <section class="py-5 text-center container section1">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold">EVERYTHING FOR YOU</h1>
            <p class="lead text-muted">Build a <strong>Portfolio</strong> online and let your customers find you.<strong>FOLIO</strong> has all the digital tools you need to do this </p>
            <p>
              <a routerLink="/login" class="btn btn-primary my-2" >Start Now</a>
              <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
          </div>
        </div>
      </section>
      <div class="imagetemplate">
        <img src="../../assets/images/Homeimagetemplate.png" alt="templates"/>
      </div>
      <section class="py-5 text-center container section2">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold"><span>Portfolio without the effort</span></h1>
            <p class="lead text-muted">Design your <strong>Portfolio</strong> exactly how you want it we provide everything you need to get started.</p>
          </div>
        </div>
      </section>
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Real people. Real websites. From artists to chefs, freelancers,...<br/><br/>  <span class="text-muted">with FOLIO you can:</span></h2>
            <ul class="uk-list">
                <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                  Make changes any time</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                  Add your own images and text</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                  Free image library and photo editing</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                  Mobile-optimized for all screens</li>
            </ul>
          
        </div>
        <div class="col-md-5 order-md-1">
          <img src="../../assets/images/homeImage2.jpg" alt="template2">
        </div>
      </div>
      <section class="py-5 text-center container section3">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold"><span>Get your Portfolio TODAY !</span></h1>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
          </div>
        </div>
      </section>
<app-footer></app-footer>